@page "/barcode"
@rendermode InteractiveWebAssembly

@using Net.ConnectCode.Barcode

<PageTitle>Barcode</PageTitle>

<h1>Code 39 Barcode</h1>

<div id="barcode">@barcode</div>
<div id="barcode_text">@barcode_text</div>

<p></p>

<div class="input-group mb-3 ">
    <input type="text" class="form-control textbox-parameters" @bind-value="@Value">
</div>

<p></p>

<div>
    <button class="btn btn-primary" @onclick="GenerateBarcode">Generate Barcode</button>
</div>

@code {
    public string Value { get; set; } = "";
    public string barcode { get; set; } = "";
    public string barcode_text { get; set; } = "";

    private void GenerateBarcode()
    {
        BarcodeFonts bcf = new BarcodeFonts();
        bcf.BarcodeType = BarcodeFonts.BarcodeEnum.Code39;
        bcf.CheckDigit = BarcodeFonts.YesNoEnum.No;
        bcf.Data = Value.ToUpper();
        bcf.encode();
        barcode = bcf.EncodedData;
        barcode_text = bcf.HumanText;
    }
}
